@font-face {
  font-family: 'Balsamiq';
  src: url('../assets/fonts/BalsamiqSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$soft-gray: #e6e6e6;

body {
  background-image: linear-gradient(to right, $soft-gray 1px, transparent 1px),
                    linear-gradient(to bottom, $soft-gray 1px, transparent 1px);
  background-size: 40px 40px;

  font-family: 'Balsamiq';

  font-size: 16px;
  min-height: 100vh;
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

.introduction, .closing {
  // height:100vh;
  min-height: calc(100% - #{$header-height});
  width: 100%;
  background: url('../assets/images/main.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }
}

.full-size {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}

.darken {
  background-color: rgba(0, 0, 0, .8);
}

.light-grid {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .1) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255, 255, 255, .1) 1px, transparent 1px);
  background-size: 40px 40px;
}

.fluid-container {
  padding: 0 30px;
}

.almost-black {
  background-color: #1b1b1b;
}

.white-text {
  color: $white !important;
}

.theme-color {
  background-color: $theme-color;
  color: $theme-font-color;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align-content {
  position: relative;
  z-index: 1;
}

.spacing {
  height: 30px;
}

.button {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    > div > div {
      background-color: #31599b !important;
    }
  }

  > div {
    border-image-source: url('../assets/images/button.png');
    border-image-slice: 3 5 5 3;
    border-image-width: auto;
    padding: 3px 5px 5px 3px;

    > div {
      padding: 5px 10px;
      transition: background-color .3s;
    }
  }
}

.bottom-align {
  display: flex;

  > * {
    display: inline-block;
    align-self: flex-end;
  }
}

.source {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: gray !important;
  color: rgb(50,50,50) !important;

  &:hover {
    text-decoration-style: dashed;
  }
}
