<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class='page-wrapper'>
      {%- include header.html -%}

      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>

      {%- include footer.html -%}
    </div>

  </body>

</html>
