<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class='page-wrapper'>
      {%- include header.html -%}

      <div class="introduction vertical-align">
        <div class='darken full-size'></div>
        <div class='light-grid full-size'></div>
        <div class='container center vertical-align-content' style='margin-bottom: 180px;'>
          <h1 class='white-text' style='font-size: 500%;'>Create Change Together</h1>
          <h1 class='white-text'>
            A new approach to project development.<br/>Designed to help you go from idea to execution faster.
            <br/>Inspired by those working at the forefront of social change.
          </h1>
          <div class='spacing'></div>
          <a href='https://goo.gl/forms/B3GSh7NDeFH0aw1n1' target='_blank' class='button'>
            <div>
              <div class='theme-color'>
                Request Early Access
              </div>
            </div>
          </a>
        </div>
      </div>


      <div class='center' style='position: relative; margin-top: -130px'>
        <a href='#content' class='white-text' style='display: inline-block;'>
          Learn More
          <br/>
          <svg style="width:24px;height:24px;" viewBox="0 0 24 24">
              <path fill="#fff" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
          </svg>
        </a>
      </div>

      <div class='spacing'></div>
      <div class='spacing'></div>
      <div class='spacing'></div>

      <main id='content' class="page-content" aria-label="Content">
        {{ content }}
      </main>

      {%- include footer.html -%}
    </div>

  </body>

</html>
